<h2>{{title}}</h2>
<hr>

<div class="row animated fadeIn" *ngIf="chart">

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" [routerLink]="['/movies',chart[0].id,'home']" [ngStyle]="{'background-image':'url('+ (chart[0] | image ) +')'}">
                <p class="pic-titulo">{{chart[0].title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/movies',chart[1].id,'home']" [ngStyle]="{'background-image':'url('+ (chart[1] | image ) +')'}">
                <p class="pic-titulo">{{chart[1].title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/movies',chart[2].id,'home']" [ngStyle]="{'background-image':'url('+ (chart[2] | image ) +')'}">
                <p class="pic-titulo">{{chart[2].title}}</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">

        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/movies',chart[3].id,'home']" [ngStyle]="{'background-image':'url('+ (chart[3] | image ) +')'}">
                <p class="pic-titulo">{{chart[3].title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/movies',chart[4].id,'home']" [ngStyle]="{'background-image':'url('+ (chart[4] | image ) +')'}">
                <p class="pic-titulo">{{chart[4].title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" [routerLink]="['/movies',chart[5].id,'home']" [ngStyle]="{'background-image':'url('+ (chart[5] | image ) +')'}">
                <p class="pic-titulo">{{chart[5].title}}</p>
            </div>
        </div>


    </div>

</div>